src/steps/cursors
src/steps/fonts
src/steps/icons
src/steps/wallpapers
src/offline/kwin-effects/*/build/
src/offline/kwin-effects/*/src/shaders/onscreen_rounded*.frag
src/offline/plasmoids/*/build/
.claude
CLAUDE.md
