build/

src/steps/wallpapers/Mac*
src/steps/fonts/*.otf
src/steps/fonts/*.ttf
src/steps/icons/Mac*
src/steps/cursors/Mac*

src/offline/kwin-effects/*/build/
src/offline/kwin-effects/*/src/shaders/onscreen_rounded*.frag
src/offline/kwin-effects/*/src/shaders/onscreen_rounded*.glsl
src/offline/plasmoids/*/build/

.claude
CLAUDE.md
